.login {
    min-height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .login-container {
        padding: 1rem;
        border-radius: 10px;
        background-color: #fff;
        font-size: larger;
        display: flex;
        flex-direction: column;

        .error-message {
            color: rgb(196, 0, 0);
            font-size: small;
            align-self: flex-end;
            position: absolute;

        }

        &>div {
            display: flex;
            justify-content: space-between;
            margin-bottom: 1rem;
            align-items: center;
        }

        input {
            padding: 0.5rem;
            border-radius: 10px;
            border: 1px solid rgb(78, 78, 78);
        }

        button {
            background-color: #004ebc;
            padding: 1rem;
            border: none;
            border-radius: 10rem;
            color: #fff;
            font-weight: bold;
            font-size: large;

            &:hover {
                background-color: #0c479b;
                cursor: pointer;
            }
        }
    }
}

@media (max-width: 400px) {
    .login-container>div {
        flex-direction: column;


    }

    .login .login-container .error-message {
        position: relative;
        align-self: center;
        margin-bottom: 1rem;
    }
}