.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 1rem;
    padding: 1rem;

    .product-card {
        border: 1px solid #8f8f8f;
        border-radius: 8px;
        padding: 0;
        background-color: #ffffff;
        transition: transform 0.3s;
        display: grid;
        grid-template-rows: 1fr auto;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);

        &:hover {
            transform: scale(1.05);
            box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
            border-radius: 8px 8px 0 0;
            background-color: white;
        }

        .product-info {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: 1rem;
            min-height: 8rem;
            color: rgb(0, 0, 0);
            a {
                text-decoration: none;
                color: rgb(0, 0, 0);
            }

            h3 {
                font-size: x-large;
            }
            button {
                background-color: #004ebc;
                color: #ffffff;
                font-size: large;
                font-weight: bold;
                border: none;
                border-radius: 1rem;
                padding: 1rem;
                &:hover {
                    background-color: #003399;
                }
            }
        }
    }
}
